<p>Sightly Component to search and retrive pages containing tags chosen by users</p><br/>

<div data-sly-test="${properties.tags}">
Tags Chosen: ${properties.tags} <br/><br/><br/>
</div>


<!-- Use WCMUse -->
<div data-sly-test="${properties.tags}">
	Displaying result using WCMUse class<br/>

	<div data-sly-use.test="com.praveen.aviva.taginfo.TagInfo">
	<ul data-sly-list="${test.result}"> 
		<li>${item}</li>
	</ul>
    <div data-sly-test="${!test.result}"><br/>Sorry. No results found...</div>
	</div>
</div>
<br/><br/>


<!-- Use Sling Model -->
<div data-sly-test="${properties.tags}">
	Displaying result using Sling Model class<br/>
	<div data-sly-use.mod="com.praveen.aviva.model.TagModel">
	<ul data-sly-list="${mod.results}"> 
		<li>${item}</li>
	</ul>
    <div data-sly-test="${!mod.results}"><br/>Sorry. No results found...</div>
	</div>
</div>

